# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
.env
.env.*
!.env.example

# Node/React
node_modules/
dist/
dist-ssr/
*.local
.eslintcache

# Docker / DB
postgres_data/
docker-compose.override.yml

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# OS
.DS_Store
Thumbs.db
